/*---------------------------------
    Footer CSS 
-----------------------------------*/
.footer-wrap .footer-widget .logo {
  margin-bottom: 15px;
}
.footer-wrap .footer-widget .footer-menu li a {
  position: relative;
  display: inline-block;
  color: var(--whiteColor);
}
.footer-wrap .footer-widget .footer-menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 1px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
  background-color: var(--primaryColor);
}
.footer-wrap .footer-widget .footer-menu li a:hover {
  color: var(--primaryColor);
}
.footer-wrap .footer-widget .footer-menu li a:hover:after {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.footer-wrap .footer-widget .footer-menu.style-one li {
  display: inline-block;
  margin-right: 11px;
  padding-right: 16px;
  position: relative;
  line-height: 17px;
}
.footer-wrap .footer-widget .footer-menu.style-one li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer-wrap .footer-widget .footer-menu.style-one li:last-child:after {
  display: none;
}
.footer-wrap .footer-widget .footer-menu.style-one li:after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 1px;
  height: 12px;
  transform: translateY(-50%);
  background-color: var(--whiteColor);
}
.footer-wrap .footer-widget .footer-menu.style-one li a {
  letter-spacing: -0.02em;
  padding-bottom: 1px;
}
.footer-wrap .footer-widget .footer-menu.style-two li {
  margin-right: 35px;
}
.footer-wrap .footer-widget .footer-menu.style-two li:last-child {
  margin-right: 0;
}
.footer-wrap .footer-widget .footer-menu.style-two li a {
  font-family: var(--secondaryFont);
  font-weight: 500;
  letter-spacing: -0.03em;
}
.footer-wrap .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  padding-top: 28px;
  margin-top: 15px;
}
.footer-wrap .footer-bottom .social-profile li {
  margin-right: 14px;
}
.footer-wrap .footer-bottom .social-profile li:last-child {
  margin-right: 0;
}
.footer-wrap .footer-bottom .social-profile li a i {
  font-size: 24px;
  line-height: 0.8;
  display: inline-block;
  color: rgba(255, 255, 255, 0.49);
  transition: var(--transition);
}
.footer-wrap .footer-bottom .social-profile li a:hover i {
  transform: translateY(-4px);
  color: var(--primaryColor);
}

/*---------------------------------
    Footer Responsive CSS 
-----------------------------------*/
@media only screen and (max-width: 767px) {
  .footer-wrap .footer-widget .footer-menu.style-two li {
    margin-right: 15px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .footer-wrap .footer-widget .footer-menu.style-two li:last-child {
    margin-right: 0;
  }
  .footer-wrap .footer-bottom .social-profile {
    margin-top: 20px;
  }
  .footer-wrap .footer-bottom .social-profile li a i {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .footer-wrap .footer-widget .footer-menu.style-two li {
    margin-right: 66px;
  }
  .footer-wrap .footer-widget .footer-menu.style-two li a {
    font-size: 18px;
  }
}/*# sourceMappingURL=footer.css.map */